@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1587118113360'); /* IE9 */
  src: url('iconfont.eot?t=1587118113360#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKwAAsAAAAABmwAAAJiAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCZgp8gQsBNgIkAwgLBgAEIAWEbQczG6oFyB6SJCVCFUgUb/sEFADEQ/whe3f/WmNgvimKomxRJFFxJoHGgSbw/29O/5jtzZfVgCjtmyrepWn4chmjJSP3PApDpDZFilCtZkL/53J8dwUUyPwNzmnt/XxMwMDSgMbaFFmRBOINYxe8wOMERm2yiLpraOuDRMUeF4h3gfdDYsGrFEsMC4MNS0t8GTCcH3kAfEbfj3+uSCQNNDbzw1t9CKp6SsxUn/IU6P0uZwZbRcM5UMR9Y/ROjGCEGKOLYi0DKaH/e3+8gBhk54+DdRQNU5aR4JHzE1TSvgNcTLqZHF8Yvbjru7znrh89Vw/9obWVfPfGdEHv5moe5/G7da9PoZjMsyooiAWiM8qGwmynUlZT25fRt7/PTXPb3BRnmn9/RdGO+h24AuiO9hozDVEIvhU5vRllX8NjBf72F0bu7igYZgfDe7YFP4c3sK4Mga3L0niN9rQzaWxi1Cg6YOes26nKhdtJhmELN2UfspFBM2wfKfw5DBhzAYOGXcKoM42rx8yhYkSN4NQ8gDBtC9KkH2imHSKFv4EBi55g0HTEwKjHyNlyzGEIybUU+xkOocAwEoKqQlwDS44LezBvSn6aF0REN6aGEEBOm6OcaMQKpkvMMAZ4F2MEEarKqAGchiVJRRpVIzjIbGHGtBK7nTS9yRZUZUh2i8L8GCwECRiGCIJUChK0ZpIrn++B8UwSP9pRVGd1wyiD0DniZOMYgDRKlUFFj/KKYQDPhWEIhKBUMqQBDMIkEhWiNQ+KwIIYm/CEsKaE3WlGhkpt28vlH8hhZdiqDKdLM/IcxgrPq54GAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1587118113360') format('woff'),
  url('iconfont.ttf?t=1587118113360') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1587118113360#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
  content: "\f0018";
}

